@import './slide_card.scss';

.footer {
    background-color: $secondary-color;
    margin-bottom: 0;
    margin-top: 2rem;
    .footer-content {
        padding: 3rem;
        display: flex;
        justify-content: space-between;
        .footer-description {
            width: 40%;
            overflow: auto;
        }
    }

    .copy-right {
        text-align: center;
    }

}


