@import './slide_card.scss';

.footer {
    background-color: $secondary-color;
    margin-bottom: 0;
    margin-top: 2rem;
    p {
        font-size: 1rem;
    }
    .footer-content {
        padding: 3rem;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        .footer-description {
            width: 40%;
            overflow: auto;
            
        }
        .social-media p{
            padding: 1rem;

        }
    }

    .copy-right {
        text-align: center;
        padding: 1rem;
    }

}



