@import "./slide_card";
.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  //justify-items: center;
  padding: 2rem;
  border-bottom: solid 0.03rem $primary-color;
  height: 2rem;
  color: $primary-color;
  .header-search {
    margin-top: 1.5rem;
    .country-select {
      padding: 0.2rem 4rem;
    }
  }
  .menu-div {
    width: 60%;
    .menus {
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      .submenus {
        overflow-y: auto;
        max-height: 7rem;
        border: 0.1rem solid $secondary-color;
      }
    }

    li ul {
      margin-left: 2rem;
      list-style-type: none;
      color: $secondary-color;
    }

    li .button-menu {
      border: none;
      background-color: transparent;
      cursor: pointer;
      width: 100%;
      font-size: 1rem;
      padding: 0.5rem 1rem;
      color: $secondary-color;
      &:hover {
        border: 0.1rem $primary-color solid;
        border-radius: 10%;
        color: white;
        background-color: $primary-color;
      }
    }

    li .button-submenu {
      border: none;
      background-color: transparent;
      cursor: pointer;
      width: 100%;
      font-size: 1rem;
      padding: 0.3rem 0.1rem;
      color: $secondary-color;
      &:hover {
        border: 0.1rem $primary-color solid;
        border-radius: 10%;
        color: white;
        background-color: $primary-color;
      }
    }
  }
}

@media (max-width: 576px) {
  .header {
    flex-direction: column;
    flex-wrap: wrap;
    height: 6rem;
    .header-search {
      margin-top: 0.3rem;

      .country-select {
        padding: 0.1rem 1rem;
        font-size: 0.5rem;
      }
    }
  }
  .validation-btn {
    padding: 0.3rem 0.5rem;
    font-size: 0.5rem;
    border-radius: 3rem;
    margin-left: 1rem;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .header {
    flex-direction: column;
    flex-wrap: wrap;
    height: 3rem;
    .header-search {
      margin-top: 0.3rem;

      .country-select {
        padding: 0.3rem 0.9rem;
        font-size: 0.8rem;
      }
    }
  }
  .validation-btn {
    padding: 0.3rem 1.5rem;
    font-size: 0.8rem;
    border-radius: 3rem;
    margin-left: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .header {
    flex-direction: row;
    flex-wrap: wrap;
    .header-search {
      margin-top: 0.3rem;

      .country-select {
        padding: 0.3rem 0.9rem;
        font-size: 0.8rem;
      }
    }
  }
  .validation-btn {
    padding: 0.3rem 1.5rem;
    font-size: 0.8rem;
    border-radius: 3rem;
    margin-left: 1rem;
  }
}
