$primary-color: rgba(70, 71, 70, 0.6);
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    padding: 2rem;
    border-bottom: solid 0.2rem $primary-color;
    height: 2rem;
    color: $primary-color;
    .header-form{
        margin-top: 1.5rem;
    }
}
.longitude-input, .latitude-input {
    margin-right: 1rem;
    margin-left: 1rem;
}

.validation-btn , .longitude-input, .latitude-input{
    padding: 0.5rem;
}
.validation-btn {
    cursor: pointer;
    font-size: 1rem;
    &:hover{
        background-color: $primary-color;
    }
}



