$primary-color: rgba(17, 226, 17, 0.6);
$secondary-color: rgba(70, 71, 70, 0.6);
.temperature{
    font-weight: bold;
    font-size: 4rem;
    color: black;
    padding: 0.5rem 3rem;
}
.country, .town {
    font-size: 3rem;
    color: $secondary-color;
    padding: 0.5rem 3rem;

}
i {
    margin-right: 1rem;
    color: $primary-color;
}


@media (max-width: 576px) {
    .temperature , .country, .town{
        font-weight: bold;
        font-size: 2rem;
    }
    .country, .town {
        font-size: 1rem;
    }
    
}
@media (min-width: 576px) and (max-width: 768px) {
    .temperature , .country, .town{
        font-weight: bold;
        font-size: 2.5rem;
    }
    .country, .town {
        font-size: 1.5rem;
    }
    
}

@media (min-width: 768px) and (max-width: 992px) {
    .temperature , .country, .town{
        font-weight: bold;
        font-size: 4rem;
    }
    .country, .town {
        font-size: 3rem;
    }
}
    